.recording-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px;
  &__browser-not-supported {
    margin-bottom: 10px;
    font-size: large;
    color: gray;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    button {
      width: 40px;
      border-radius: 5px;
      border: none;
      font-size: 1em;
      font-weight: bold;
      cursor: pointer;
      margin: 0 10px;
      &:hover {
        background-color: #333;
        color: #fff;
      }
    }
  }
  textarea {
    width: 80%;
    height: 400px;
    font: 1em "Roboto", sans-serif;
    padding: 10px;
    border-radius: 5px;
    border: none;
    resize: none;
    &:focus {
      outline: none;
    }
    &:disabled {
      background-color: #fff;
    }
  }
}
