.logs-containter {
  padding: 25px;
  @media screen and (max-width: 768px) {
    padding: 40px 15px 80px;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
      margin-top: 45px;
    }
  }
  .logs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    list-style: none;
    overflow-y: scroll;
    @media screen and (max-width: 768px) {
      grid-template-columns: 100%;
    }
    .log-card {
      background: #fff;
      border: 1px solid #eee;
      border-radius: 10px;
      padding: 20px;
      &__date {
        display: flex;
        align-items: center;
        gap: 10px;
        float: right;
        &__delete-log-icon {
          cursor: pointer;
          &:hover {
            color: #999;
          }
        }
      }
      &__answer {
        font-size: 1em;
        margin: 10px 0;
        word-wrap: break-word;
        color: #666;
      }
    }
  }
}
