.container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.box {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.06);
  min-height: 50rem;
  margin: 20px 30px;
  padding: 20px;
  border-radius: 5px;

  @media screen and (max-width: 768px) {
    margin: 0;
    min-height: auto;
  }
}

.start-session-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .start-session {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #eee;

    .play-icon {
      width: 150px;
      height: 150px;
      margin: 0 auto;
      color: #000;

      &:hover {
        color: #aaa;
      }
    }
  }

  .dropdown {
    font-size: 1.5rem;
    .dropdown-menu {
      padding: 10px;
      border-radius: 5px;
      background-color: #eee;

      div {
        padding: 10px;
        border-bottom: 3px solid #ddd;
        &:hover {
          cursor: pointer;
          background-color: #ddd;
        }
      }
    }

    .dropdown-placeholder {
      display: none;
    }

    .dropdown-text {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: bold;
    }
  }
}

.recent-logs-container {
  @media screen and (max-width: 768px) {
    display: none;
  }
  .logs {
    display: grid;
    gap: 20px;
    overflow: auto;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px;

    @media screen and (max-width: 768px) {
      display: none;
    }
    .log {
      padding: 20px;
      border-radius: 5px;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
        rgb(209, 213, 219) 0px 0px 0px 1px inset;
      &:hover {
        cursor: pointer;
        color: #aaa;
      }
    }
  }
}
