body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  @media screen and (max-width: 768px) {
    margin: 0;
    overflow: hidden;
    height: 100%;
    position: relative;
  }
}
.container {
  margin: 5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
.box {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  min-height: 40rem;
  margin: auto 30px;
  padding: 20px;
  border-radius: 5px;
  @media screen and (max-width: 768px) {
    margin: 0;
    min-height: 100px;
  }
}

.date {
  float: right;
  padding: 13px 10px;
}

.note {
  background-color: #eee;
  padding: 1px 10px;
  border-radius: 5px;
  margin: 10px 0;
  min-height: 150px;
}

.start-session-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  .start-session {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #eee;

    .play-icon {
      width: 150px;
      height: 150px;
      margin: 0 auto;
      color: #000;
      :hover {
        color: #aaa;
      }
    }
  }
  .dropdown {
    font-size: 1.5rem;
    .dropdown-menu {
      padding: 10px;
      border-radius: 5px;
      background-color: #eee;
      div {
        &:hover {
          cursor: pointer;
          color: #aaa;
        }
      }
    }
    .dropdown-placeholder {
      padding: 10px;
      font-size: 2rem;
      &:hover {
        cursor: pointer;
        color: #aaa;
      }
    }
  }
}
.recent-logs-container {
  height: 150px;
  overflow: auto;
  padding: 20px;
  @media screen and (max-width: 768px) {
    display: none;
  }
  .log {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #eee;
    .qa-item {
      border-left: 1px solid #000;
      text-align: center;
      padding-left: 10px;
    }
  }
}
