.sessionConfig {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
  .sessions-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .session-card {
      max-width: 500px;
      width: 25rem;
      height: 7rem;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      &:hover {
        cursor: pointer;
        border: #000 solid 2px;
      }
    }
    .session-card.active {
      background-color: #000;
      color: #fff;
    }
    @media screen and (max-width: 767px) {
      display: none;
      .session-card {
        width: 100%;
      }
    }
  }
  .questions-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .qc-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .newQuestionBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      height: 3rem;
      border-radius: 5px;
      border: none;
      background-color: #000;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background-color: #333;
      }
    }
  }
}
