header {
  padding: 10px 50px;
  background-color: #eee;

  nav {
    display: flex;
    align-items: center;
    .header-title {
      flex: 1;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      color: #000;
    }
    .header-link,
    button {
      display: flex;
      align-items: center;
      flex-direction: row;
      text-decoration: none;
      font-size: 1rem;
      padding: 5px 20px;
      color: #000;
      border-left: 1px dashed #aaa;

      .icon {
        margin-right: 0.5rem;
        font-size: large;
        @media screen and (max-width: 767px) {
          margin-right: 0;
          font-size: 1.5em;
        }
      }

      &:hover {
        color: #555;
      }

      @media screen and (max-width: 767px) {
        border-bottom: none;
        border-left: none;
      }
    }

    .header-link.active {
      span {
        color: #111;
        font-weight: bold;
      }

      @media screen and (max-width: 767px) {
        border-bottom: none;
        color: #aaa;
      }
    }

    .login {
      background-color: #fff;
      border: 1px solid #000;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      color: #000;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }

  .dropdown {
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column-reverse;
    }

    .dropdown-menu {
      position: absolute;
      background-color: #eee;
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px solid #aaa;

      div {
        &:hover {
          cursor: pointer;
          color: #aaa;
        }
      }
    }

    .dropdown-placeholder {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  @media screen and (max-width: 767px) {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 1.25rem 1.25rem 0 0;

    nav {
      display: flex;
      justify-content: space-around;
    }

    .header-title {
      position: fixed;
      top: 0rem;
      padding: 1rem;
      background: #eee;
      border-radius: 0 0 1.25rem 1.25rem;
      width: 100%;
    }

    span {
      display: none;
    }
  }
}
