.questionCard {
  max-width: 500px;
  width: 100%;
  height: 10rem;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  .questionInput {
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    resize: none;
    &:focus {
      outline: none;
    }
  }
  .timeSelectSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    .timeSelectLabel {
      font-size: 12px;
      font-weight: bold;
    }
    .timeSelectInput {
      width: 100px;
      height: 30px;
      border-radius: 5px;
      border: 1px solid #000;
      padding: 0 5px;
    }
  }
}
