footer {
    color: #333;
    padding: 1rem;
    text-align: center;
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    font-size: 0.8rem;
}
a {
    color: #29f116;
}