.questionCard {
  width: 500px;
  height: 7rem;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  .btn-note {
    float: right;
    margin: 0 5px;
    border: none;
    font-size: 1em;
    color: #000;
    cursor: pointer;
  }
  .questionInput {
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    resize: none;
    &:focus {
      outline: none;
    }
  }
  .timeSelectSection {
    display: flex;
    align-items: center;
    gap: 10px;
    .timeSelectLabel {
      font-size: 14px;
      font-weight: bold;
    }
    .timeSelectInput {
      width: 50px;
      height: 30px;
      border-radius: 5px;
      border: 1px solid #000;
      padding: 0 5px;
    }
  }
}
